<footer>
	<div class="container">
		<hr>
	</div>
	<div class="container">
		<p class="small">The PeopleLENS Report (Complimentary version - not benchmarked) <b class='pull-right'></b></p>
	</div>
	<div class="container">
		<div class="text-center"><a href="http://plgaonline.com">www.TalentEconomics.com</a></div>
	</div>
</footer>