
<header style='margin-top:15px;'>
<div class="container" style="border-bottom:1px solid #e3e3e3;padding-bottom: 5px;">
	<div class="col-xs-6">
		<img src="<%=root_url %>assets/plga.png" alt="Logo" style="max-height:70px;">
	</div>
	<div class="col-xs-6">
		<img src="<%=root_url %>/assets/apple-touch-icon-72x72-precomposed.png" alt="Logo" style="max-height:70px;float:right">
	</div>
</div>
</header>