<!DOCTYPE html>
<html>
	<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div><div class="adM">
    </div>
<div style="padding-top:20px;padding-bottom:80px;background:black">


<div style="padding-top: 0px;padding-bottom:30px;background:black">

<div style="text-align:centre;background:white;width:80%;margin-left:65px">



<div style="padding-left:18px;padding-bottom: 15px;padding-top: 12px;">
<p>To reset your password,</p>
<p> please click on this link
  <a href="http://128.199.241.177:8010<%= changepassword_path(@user.id) %>">
 	http://128.199.241.177:8010<%= changepassword_path(@user.id)%>
 </a>  
</p>
<p>If you received this email by mistake, simply delete it. You won't be subscribed if you don't click the confirmation link above.</p>


</div>
</div>
</div>
</div>

</div>
  </body>
</html>

