<section id="main_content">
      <div class="container">
      <div class="row add_bottom_30">
      	<div class="col-md-12 text-center">
          <h2>Buy the book</h2>
          <p class="lead">Order Talent Economics Now</p>
          </div>
      </div>
      
      <div class="row">
          <div class="col-md-6">
       			<div class="media">
                   <div class="pull-left"><%=image_tag "amazon.png" %></div>
                      <div class="media-body">
                      	<h4 class="media-heading"><a href="http://www.amazon.com/Talent-Economics-Between-Winning-Losing/dp/0749468483/ref=sr_1_1?ie=UTF8&qid=1345685484&sr=8-1&keywords=gyan+nagpal"  target="_blank">Amazon</a></h4>
                         <p>The employee is evolving, and the very concept of employment must evolve to keep pace. Most businesses are still trying to manage a 21st century workforce with 20th century management.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="http://www.amazon.com/Talent-Economics-Between-Winning-Losing/dp/0749468483/ref=sr_1_1?ie=UTF8&qid=1345685484&sr=8-1&keywords=gyan+nagpal" ><i class="icon-book"></i>USA Edition</a>
                              </li>
                              <li class="po-markup">
                                    <a class="po-link" href="http://www.amazon.co.uk/Talent-Economics-Between-Winning-Losing/dp/0749468483/ref=sr_1_1?ie=UTF8&qid=1345685546&sr=8-1" ><i class="icon-book"></i>UK Edition</a>
                              </li>
                                    
                          </ul>
                   </div>
            </div>
            <div class="media">
                   <div class="pull-left"><%=image_tag "barnes.jpg" %></div>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="http://www.barnesandnoble.com/w/talent-economics-gyan-nagpal/1111427578?ean=9780749468484" target="_blank">Barnes & Noble</a></h4>
                         <p>The employee is evolving, and the very concept of employment must evolve to keep pace. Most businesses are still trying to manage a 21st century workforce with 20th century management.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="http://www.barnesandnoble.com/w/talent-economics-gyan-nagpal/1111427578?ean=9780749468484" ><i class="icon-book"></i>USA Edition</a>
                              </li>
                         </ul>
                   </div>
            </div>
                  
          
                  
          </div><!-- End col md 6 -->
          <div class="col-md-6">
            <div class="media">
                   <div class="pull-left"><%=image_tag "flipkart.jpg" %></div>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="http://www.flipkart.com/talent-economics-fine-line-between-winning-losing-global-war-english/p/itmdbuatx8cmnhgj?pid=9780749468484&ref=ff69e52e-b312-47b9-b54b-215b6c759676&srno=s_1&otracker=from-search&query=talent+economics" target="_blank">Flipkart</a></h4>
                         <p>The employee is evolving, and the very concept of employment must evolve to keep pace. Most businesses are still trying to manage a 21st century workforce with 20th century management.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="http://www.flipkart.com/talent-economics-fine-line-between-winning-losing-global-war-english/p/itmdbuatx8cmnhgj?pid=9780749468484&ref=ff69e52e-b312-47b9-b54b-215b6c759676&srno=s_1&otracker=from-search&query=talent+economics" ><i class="icon-book"></i>INDIA Edition</a>
                              </li>
                          </ul>
                   </div>
            </div>
            <div class="media">
                   <div class="pull-left"><%=image_tag "soundview.jpg" %></div>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="http://www.summary.com/book-summaries/_/Talent-Economics" target="_blank">Soundview</a></h4>
                         <p>Soundview Executive Book Summaries has chosen Talent Economics as one of the 30 best business books of 2013 (read the press release here ).</p>
                        <p>
                         Soundview summaries can be read and listened to on any computer, tablet, smartphone or e-reader.. Find the Talent Economics Summary here
                          </p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="http://www.barnesandnoble.com/w/talent-economics-gyan-nagpal/1111427578?ean=9780749468484" ><i class="icon-book"></i>Executive Summary</a>
                              </li>
                         </ul>
                   </div>
            </div>
          </div><!-- End col md 6 -->
      </div><!-- End row -->
     	</div><!-- End container -->
  </section><!-- End main_content -->