<section id="strips-course zeropad" class="shadow">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>OUR PRINCIPLES</h2>
        </div>
      </div>
    </div>
    <article>
    <div class="container">
    <div class="row">
    	<div class="col-md-2 col-sm-2 hidden-xs text-center"><img src="img/number_1_small.png" alt="" ></div>
        <div class="col-md-10 col-sm-10">
        <h3 class="font20">Deep diagnosis provides some of the best & clearest starting points for talent strategy.</h3>
        <p>Talent Economists always start with diagnosis from the outside-in. This is because talent dynamics vary. They differ by country, by industry and sometimes even by business lines within a company. It is for exactly this reason that we often see one-sized solutions miss their mark.</p>
        </div>
    </div><!-- End row  -->
    </div><!-- End container  -->
    </article><!-- End strip-program  -->
    
    <article>
    <div class="container">
    <div class="row">
    <div class="col-md-2 col-sm-2 hidden-xs text-center"><img src="img/number_2_small.png" alt="" ></div>
        <div class="col-md-10 col-sm-10">
        <h3 class="font20"> Talent strategy conversations must be simple, commercial and in the language of the business.</h3>
        <p>They must also bring forth a clear investment hypothesis for the short and long terms. This is because in a global and open talent economy, every organization has a unique talent context and as a direct consequence, every organization must discover their own recipe of talent investments. </p>
        </div>
        
    </div><!-- End row  -->
    </div><!-- End container  -->
    </article><!-- End strip-program  -->
    
    <article>
    <div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-2 hidden-xs text-center"><img src="img/number_3_small.png" alt="" ></div>
        <div class="col-md-10 col-sm-10">
        <h3 class="font20">Talent strategy must be owned and executed within the business as opposed to HR.</h3>
        <p>While HR is a key partner in execution, it is important that the strategy itself isn’t anchored in the margins. Successful talent strategy must be built, regularly reviewed and championed within executive teams.</p>
        </div>

    </div><!-- End row  -->
    </div><!-- End container  -->
    </article><!-- End strip-program  -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p style="padding-top:32px">Talent Economics as an operating construct, provides both the tools and process to guide executive team through strategy formulation and execution. Let’s look at two examples of Talent Economics at work:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="box_style_1">
            <h4>Case Study 1</h4>
              <%= raw  @case_study.content_for(:case_study_1) %>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="box_style_1">
            <h4>Case Study 2</h4>
             <%= raw  @case_study.content_for(:case_study_2) %>
          </div>
        </div>
      </div>
    </div>
    
  </section>