<section id="join" class='hidden-xs hidden-sm'>
   <div class="container hidden-sm hidden-xs">
 	<div class="row hidden-sm hidden-xs">
    	<div class="col-md-10 col-md-offset-1 text-center">
        <div class="row">
        <div class="col-md-6"><%=link_to "Contact us", root_url+"become-talent-ecomomist#contact_us" , :class=> 'button_big', :style => 'line-height:inherit' %></div>
        <div class="col-md-6"><%=link_to "Other Services", "http://www.plgaonline.com", :class=> 'button_big', :target => '_blank' , :style => 'line-height:inherit'%></div>
        </div>
         </div>
 	</div>
  </div>
 </section>