<section id="main-features">
<div class="container">
    <div class="row">
        <div class=" col-md-10 col-md-offset-1">
            <h2 style="text-transform:inherit"> The PeopleLENS Assessment</h2>
            
               <p> Welcome to the PeopleLENS assessment. This assessment features in the final chapter of Talent Economics - the fine line between winning and losing the global war for talent, and helps you identifiy an organisation's strategic talent agenda.
               </p>
               <p>
                Using the PeopleLENS framework helps us diagnose and compare priorities across locations or business units. It does so using 11 competing realities which vie for focus and investment within an organisation's overall talent context. Some are external to the company, while others are internal. Each is an independent variable, yet collectively they shape our talent priorities. Put together, these eleven perspectives provide a very competent diagnostic profile of a company's talent needs. Please start by providing us with some information about yourself and the organisation you are assessing. Required fields are highlighted below:
                </p>
        </div>
    </div>
</div><!-- End container -->
</section><!-- End main-features -->